body {
  font-family: Arial;
  background: #f4f6f8;
}

.box {
  width: 300px;
  margin: 80px auto;
  padding: 20px;
  background: white;
  border-radius: 6px;
}

input {
  width: 100%;
  padding: 8px;
  margin: 6px 0;
}

button {
  width: 100%;
  padding: 8px;
  margin-top: 8px;
  background: #2563eb;
  color: white;
  border: none;
  cursor: pointer;
}

li {
  display: flex;
  justify-content: space-between;
  margin: 6px 0;
}
